
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


.green-heading {
    color: #05da10;
    font-size: 50px;
    margin-left: 137%;
    height: 5%;
    width: 5%;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 200px;
  }
  
  .alledonaties {
    width: 100%;
    color: #05da10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 23%;
  }
  

.input-field {
    margin-bottom: 30px;
    width: 550px;
    height: 50px;
}

.submit-button {
    background-color: #05da10;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer {
    width: 100%;
    background-color: #05da10;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 125px;
    border: solid 2px greenyellow;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  